[submodule "core-lib"]
	path = core-lib
	url = https://github.com/SOM-st/SOM.git
[submodule "omr"]
	path = omr
	url = git@gitlab.casa.cs.unb.ca:gkrylov/omrforwasmjitandsom.git
	branch = sompp_marking_delegate
